
.home {
	margin: 20px;
	font-size: 22px;
	font-family: 'Open Sans Condensed', serif;
	color: black;
	font-weight: bold;
}

div.front {
	display: block;
	margin: auto;
	width: 70%;
}

img.front{
	margin-top: 50px;
	width:100%;
}

.main p {
	color: #FFFFFF
}

.top {
	padding: 10px;
}

.playlink {
	font-family: 'Open Sans Condensed', serif;
	color: white;
	font-weight: bold;
	font-size: 28px;
	margin-top: 20px;
}
