

body {
    margin: 0px;
    padding: 0px
}

hr {
  margin:0px;
  height: 7px;
  border-width: 0;
}

.lite {
  background-color: #252525;
  color: black;
}
.dark {
	background-color: #121212;
  color: #FFFFFF;
}

hr.full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

h1 {
  text-align: center;
  font-size: 110px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
  margin: 0;
  color:#e6d15c;
}

p {
  font-family: 'Open Sans', sans-serif;
	font-size: 21px;
}

.tagline {
  margin-bottom: 50px;
}

a {

  text-decoration: none;
}

.inset {
  -moz-box-shadow:    inset 0px 5px 15px #00000055;
  -webkit-box-shadow: inset 0px 5px 15px #00000055;
  box-shadow:         inset 0px 5px 15px #00000055;
}

.introline {
  font-size: 30px;
	color:#0066cc;
}


.lightheader {
	color:white;
}

p.subtitle {
    color: white;
    font-size: 22px;
    margin: 10px;
    margin-top: 0px;
    font-weight: lighter;
    text-transform: lowercase;
}

.titlesection {
    text-align:center;
    display: block;
    margin: auto;
    padding: 0;
    padding-bottom: 20px;
}

.centerer {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.titleimage {
	display:inline-block;
	vertical-align: middle;
	width: 90%;
	max-width: 768px;
}

.constrain-width {
  max-width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.games {
	text-align:center;
	display:block;
	margin:0px;
	padding:20px;
  overflow-x: hidden;
}

#content-item {
	text-align: left;
	margin-bottom: 50px;
  width: 90%;
  object-fit: cover;
  max-width: 90%;
}

#cfrpg-title {
  width: 700px;
  margin-top: 80px;
  margin-bottom: 80px;
  image-rendering: crisp-edges;
}

.img-border {

  -moz-box-shadow:    inset -5px 5px 15px #00000065;
  -webkit-box-shadow: inset -5px 5px 15px #00000065;
  box-shadow:         inset -5px 5px 15px #00000065;

  -moz-box-shadow:    -3px 5px 15px #00000095;
  -webkit-box-shadow: -3px 5px 15px #00000095;
  box-shadow:         -3px 5px 15px #00000095;
}

.footer {
  height: 40px;
}


img.galleryimg {
    width: 900px;
    display: block;
    margin: auto;
    padding: 30px 0px;
}


@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media (max-width: 600px) {
	h3, h2 {
		font-size: 40px;
	}
  #cfrpg-title {
    width: 350px;
  }
  .team {
    padding: 50px;
  }
}

@media (max-width: 400px) {
	h3, h2 {
		font-size: 35px;
	}
    #cfrpg-title {
    width: 300px;
  }
  p, p.subtitle {
    font-size: 20px;
  }
  #content-item {
    padding: 20px;
  }
  .team {
    padding: 30px;
  }
}
